{% extends 'AppBundle::layout.html.twig' %}

{% block main -%}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('project') }}">Projects</a></li>
        <li class="active">Edit Project {{ entity.name }}</li>
    </ol>

    <h1><span class="fa fa-pencil"></span> Edit Project {{ entity.name }}</h1>

    {{ form(edit_form) }}

{% endblock %}
