{% extends 'AppBundle::layout.html.twig' %}

{% block main -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li class="active">Projects</li>
    </ol>

    {% for entity in entities %}
        <hr>
        <h3><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.name }} <small>{{ entity.customer }}</small></a></h3>
        <p>{{ entity.description|nl2br }}</p>
    {% endfor %}

{% endblock %}
