{% extends 'AppBundle::layout.html.twig' %}

{% block main -%}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('project_show', {id: entity.project.id}) }}">{{ entity.project.name }}</a></li>
        <li class="active">Create new Task</li>
    </ol>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ entity.type.name }} #{{ entity.id }}</h3>
        </div>
        <div class="panel-body">
            <h3>{{ entity.title }}</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <dl>
                        <dt>Status</dt>
                        <dd style="color: {{ entity.state.color }}">{{ entity.state.name }}</dd>
                        <dt>Priority</dt>
                        <dd style="color: {{ entity.priority.color }}">{{ entity.priority.name }}</dd>
                        <dt>Type</dt>
                        <dd>{{ entity.type.name }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>Created</dt>
                        <dd>{{ entity.createDate|date('Y-m-d H:i') }}</dd>
                        <dt>Modified</dt>
                        <dd>{{ entity.modifiedDate is null ? '-' : entity.modifiedDate|date('Y-m-d H:i') }}</dd>
                        <dt>Due date</dt>
                        <dd>{{ entity.dueDate is null ? '-' : entity.dueDate|date('Y-m-d') }}</dd>
                        <dt>Time estimate</dt>
                        <dd>{{ entity.timeEstimated is null ? '-' : entity.timeEstimated }}</dd>
                    </dl>
                </div>
            </div>
            <hr>
            <p>{{ entity.description|nl2br }}</p>
            <hr>
            {{ form_start(delete_form) }}
            <div class="btn-group">
                <a href="{{ path('task_edit', {id: entity.id}) }}" class="btn btn-primary"><span class="fa fa-pencil"></span> Edit Task</a>
                <button type="submit" class="btn btn-danger"><span class="fa fa-trash-o"></span> Delete Task</button>
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>
    <!-- Comments -->
    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            {% for comment in entity.comments %}
                {% if not loop.first %}
                    <hr>
                {% endif %}
                <div class="comment">
                    <time datetime="{{ comment.date|date('Y-m-d H:i') }}">{{ comment.date|date('D, d M Y H:i') }}</time>
                    <p>{{ comment.text|nl2br }}</p>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">No comments for this task.</div>
            {% endfor %}
        </div>
        <div class="panel-footer">{{ form(comment_form) }}</div>
    </div>

{% endblock %}
